.container {
  display: grid;
  background-color: #f9f9f9;
  margin: auto;
  max-width: 700px;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 2px 2px 12px gray;
}

.container img {
  max-width: 150px;
}

.container h1 {
  border-bottom: 2px solid black;
}

.container li {
  border-top: 1px solid black;
  padding: 10px;
  max-width: 500px;
  list-style: none;
}
